* {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
}

body {
  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
  background-color: black;
  .scroll-container {
    .section2 {
      justify-content: space-around;
      img {
        margin-left: 100px;
      }
      .story-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
          margin-top: 50px;
          width: 65%;
        }
      }
    }
    section {
      width: 99vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #BAC6C9;
      h1 {
        font-family: 'Press Start 2P';
        margin: 0 auto;
        margin: 30px;
        color: #FFF;
      }
      p {
        width: 40%;
        line-height: 1.5rem;
      }
      img {
        width: 40%;
        border-radius: 100px;
      }
    }
  }
    .section1 {
      flex-direction: column;
      h2 {
        font-family: 'Press Start 2P';
        color: #FFF;
      }
      .typewriter {
        margin-top: 50px;
        #game-title {
          font-size: 2rem;
          overflow: hidden; /* Ensures the content is not revealed until the animation */
          border-right: .15em solid orange; /* The typwriter cursor */
          white-space: nowrap; /* Keeps the content on a single line */
          margin: 0 auto; /* Gives that scrolling effect as the typing happens */
          letter-spacing: .15em; /* Adjust as needed */
          animation:
                  typing 3.5s steps(40, end),
                  blink-caret .75s step-end infinite;
        }
        @keyframes typing {
          from { width: 0 }
          to { width: 100% }
        }
        @keyframes blink-caret {
          from, to { border-color: transparent }
          50% { border-color: orange; }
        }
      }
    }

  .section-column {
    flex-direction: column;
    h2 {
      margin: 50px;
    }
    li {
      line-height: 1.5rem;
      list-style: none;
    }
  }
}







